@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  /* font-sizes */
  --fs-huge: clamp(2rem, 2vw, 4rem);
  --fs-big: clamp(1.2rem, 1.5vw, 3rem);
  --fs-normal: clamp(1rem, 1.2vw, 1.5rem);
  --fs-min: clamp(1rem, 1vw, 1.3rem);
  --fs-extra-min: clamp(.75rem, .8vw, 1rem);

  /* font-weight */
  --fw-main: 700;
  --fw-normal: 500;
  --fw-min: 400;
  --fw-extra-min: 350;

  /* colors */
  --clr-background: #8ECAE6;
  --clr-font: #272727;
  --clr-black-low: #4c4c4c;
  --clr-white-low: #dfdfdf;
  --clr-primary-400: #219EBC;
  --clr-primary-500: #023047;
  --clr-primary-600: #FFB703;
  --clr-primary-700: #FB8500;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 12px -1px var(--clr-primary-700);
}


*,
*::before,
*::after{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
	display: grid;
	position: relative;
	place-items: center;
	width: 100vw;
  background-color: rgb(235, 235, 235);
}

header{
  width: 100%;
  background-image: linear-gradient(to right bottom, #2f7dc7, #8ebeeb);
}

#header__main{
  width: min(80rem, 100vw);
  margin: 0 auto;
  padding: .5vw 1rem;
  display: flex;
  justify-content: space-between;
}

#header__main > p{
  margin: auto 0;
  transform: translateY(-10%);
  font-size: var(--fs-big);
  font-weight: var(--fw-min);
  color: #FFB703;
}

#header__main .search-bar{
  display: flex;
  height: 2.25em;
  width: fit-content;
  margin: auto 0;
  transform: translateY(-10%);
  padding: 0.1em 0.2em;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

#header__main .search-bar button{
  border: none;
  padding: 0.1em 0.2em;
  background-color: rgba(128, 128, 128, 0.163);
  border-radius: 10px 0 0 10px;
}

#header__main .search-bar .right_side{
  display: flex;
  background-color: white;
}

#header__main .search-bar .right_side input{
  width: clamp(10rem, 20vw, 20rem);
  outline: none;
  border-radius: 0 10px 10px 0;
  border: none;
  /* box-shadow: inset 0 0 10px -5px black; */
}

#header__main .search-bar .right_side button{
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  background-color: red;
}

#header__main ul{
  list-style: none;
  display: flex;
  gap: 1.5vw;
  font-size: var(--fs-min);
  font-weight: var(--fw-min);
  margin: auto 0;
}