@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  /* font-sizes */
  --fs-huge: clamp(2rem, 2vw, 4rem);
  --fs-big: clamp(1.2rem, 1.5vw, 3rem);
  --fs-normal: clamp(1rem, 1.2vw, 1.5rem);
  --fs-min: clamp(1rem, 1vw, 1.3rem);
  --fs-extra-min: clamp(.75rem, .8vw, 1rem);

  /* font-weight */
  --fw-main: 700;
  --fw-normal: 500;
  --fw-min: 400;
  --fw-extra-min: 350;

  /* colors */
  --clr-background: #8ECAE6;
  --clr-font: #272727;
  --clr-black-low: #4c4c4c;
  --clr-white-low: #dfdfdf;
  --clr-primary-400: #219EBC;
  --clr-primary-500: #023047;
  --clr-primary-600: #FFB703;
  --clr-primary-700: #FB8500;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 12px -1px var(--clr-primary-400);
}


*,
*::before,
*::after{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body{
	width: 100vw;
  background-color: #f7f3eb;
  min-height: 200vh;
  overflow-x: hidden;
}

header{
  width: 100%;
  background-image: linear-gradient(to top right, #2f7dc710, #8ebeeb48);
  position: sticky;
  top: 0;
  z-index: 999999;
}

#header__main{
  width: min(80rem, 100vw);
  margin: 0 auto;
  padding: .5vw 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#header__main > p{
  margin: auto 0;
  transform: translateY(-10%);
  font-size: var(--fs-big);
  font-weight: var(--fw-normal);
  color: #44312b;
}

#header__main ul{
  list-style: none;
  display: flex;
  gap: 1.5vw;
  font-size: var(--fs-min);
  font-weight: var(--fw-normal);
  margin: auto 0;
  text-decoration: none;
}
#header__main ul li a{
  text-decoration: none;
  color: var(--clr-font);
  transition: .3s all ease-out;
}

#header__main ul li a:hover{
  color: rgba(121, 121, 121, 0.938);
}


#header__main .search-bar{
  display: flex;
  height: 2.25em;
  width: fit-content;
  margin: auto 0;
  transform: translateY(-10%);
  padding: 0.1em 0.2em;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

#header__main .search-bar button{
  width: max-content;
  border: none;
  padding: 0.1em 0.2em;
  background-color: rgba(128, 128, 128, 0.163);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

#header__main .search-bar .right_side{
  display: flex;
  background-color: white;
  border-radius: 0 15px 15px 0;
  /* box-shadow: inset 0 0 10px -5px black; */
}

#header__main .search-bar .right_side input{
  width: clamp(10rem, 20vw, 20rem);
  outline: none;
  border: none;
}

#header__main .search-bar .right_side button{
  margin: auto 0;
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
  margin-right: -.2em;
  padding: .2em .5em;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}


#header__second_line{
  width: 100%;
  height: 5rem;
  background-color: rgba(221, 204, 204, 0.193);
  display: grid;
  place-items: center;
  padding: 0;
}

#content{
  width: min(80rem, 100vw);
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
}

#header__second_line .first_box{
  display: grid;
  width: 20%;
  height: fit-content;
  padding: .3em;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.519);
  box-shadow: inset 0 0 10px -5px rgb(0, 0, 0, 0.5);
  transition: 0.3s all ease-out;
  transition: background-color 0s ease-out;
}

#header__second_line .first_box:hover{
  background-color: rgba(0, 0, 0, 0.666);
}

#header__second_line .first_box:hover *{
  color: white;
}

#header__second_line .first_box h3{
  cursor: pointer;
  font-size: var(--fs-min);
  color: var(--clr-font);
  padding: .7em;
}

#header__second_line .first_box ul{
  width: 100%;
  display: none;
  list-style: none;
}

#header__second_line .first_box ul li{
  width: 100%;
  border-top: solid black 1px;
  text-align: center;
  padding: 1em 0;
}

#header__second_line .first_box ul li a{
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--clr-font);
  text-decoration: none;
  border-radius: .5em;
  padding: 1em 35%;
  transition: .3s all ease-out;
}

#header__second_line .first_box ul li a:hover{
  /* color: var(--clr-primary-400); */
  background-color: rgba(197, 197, 197, 0.075);
  animation: hover_move .4s ease-out;
}

@keyframes hover_move{
  0%{
    margin-left: 0px;
  }
  25%{
    margin-left: 10px;
  }
  50%{
    margin-left: -10px;
  }
  75%{
    margin-left: 0;
  }
  100%{
    margin-left: 0;
  }
}


@keyframes fade_in{
  0%{
    opacity: .1;
  }
  100%{
    opacity: 1;
  }
}

#side_bar_btn{
  display: none;
  list-style: none;
  background-color: transparent;
}

#side_bar_btn li button{
  color: var(--clr-font);
  background-color: transparent;
  
}














#page1{
  margin-top: -20vh;
  width: 100%;
  height: 110vh;
  background-color: beige;
  background-image: url("https://img.freepik.com/free-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
}


#page1 div{
  text-align: center;
  max-width: 30rem;
}


#page1 div h2{
  color: rgba(15, 73, 143, 0.778);
}

#page1 div p{
  color: rgb(27, 27, 27);
  font-weight: 400;
}








#page2{
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  display: grid;
  place-items: center;
}

#page2 > h2{
  width: fit-content;
  margin-top: 4rem;
  padding: .3em .5em;
  border: 3px red solid;
  cursor: default;
  transition: .2s all ease-out;
}

#page2 > h2:hover{
  background-color: red;
  color: white;
}

#page2__container{
  margin-top: 5rem;
  width: min(85rem, 100vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page2__inner__a__line1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#page2__inner{
  width: 23%;
  border: 1px solid black;
  transition: 0.2s all ease-out;
  box-shadow: 10px 5px 10px -1px rgba(0, 0, 0, 0.3);
}

#page2__inner:hover{
  transform: scale(1.125);
  box-shadow: 20px 10px 15px -1px rgba(0, 0, 0, 0.5);
}

#page2__inner a{
  width: 100%;
  text-decoration: none;
  color: var(--clr-font);
  position: relative;
}

#page2__inner:hover{
  border-color: red;
  border-top-color: var(--clr-black-low);
}


#page2__inner a img{
  width: 100%;
}

#page2__inner a h2{
  margin-top: -2.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  border: solid 1px black;
  border-bottom: transparent;
  background-color: transparent;
}

#page2_inner a > h3{
  color: red;
}

.page2__inner__a__line2{
  display: flex;
  justify-content: space-around;
  margin: 6rem 0;
}

.page2__more-btn{
  font-size: var(--fs-normal);
  padding: .3em .6em;
  text-decoration: none;
  border: 1px solid black;
  margin-bottom: 2rem;
  color: var(--clr-font);
  transition: 0.3s all ease-out;
  position: relative;
  z-index: 1;
}

.page2__more-btn::before{
  content: '';
  position: absolute;
  inset: 0;
  left: 50%;
  width: 0;
  background-color: var(--clr-primary-400);
  z-index: -1;
  transition: .3s all ease-out;
  opacity: .7;
}

.page2__more-btn::after{
  content: '';
  position: absolute;
  inset: 0;
  left: 50%;
  width: 0;
  background-color: var(--clr-primary-400);
  z-index: -1;
  transition: .3s all ease-out;
  opacity: .7;
}

.page2__more-btn:hover{
  color: white;
  border-color: var(--clr-primary-400);
}

.page2__more-btn:hover::before{
  width: 50%;
  opacity: 1;
}

.page2__more-btn:hover::after{
  width: 50%;
  left: 0;
  opacity: 1;
}









#page3{
  width: 100%;
  margin: 5rem 0;
  min-height: 60vh;
  display: grid;
  place-items: center;
  background-image: url("../assets/img/istockphoto-1268728033-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--fs-normal);
  cursor: help;
}

#page3__container{
  width: min(85rem, 100%);
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

#page3__inner1{
  width: min(100%, 20rem);
  text-align: right;
}

#page3__inner1 h2{
  margin-right: 2rem;
  margin-bottom: 1rem;
}

#page3__inner1 p{
  color:  var(--clr-font);
  font-weight: var(--fw-extra-min);
}

#page3__inner2{
  width: 40%;
}

#page3__inner2 h2{
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#page3__inner2 p{
  color:  var(--clr-font);
  font-weight: var(--fw-extra-min);
}












#page4{
  margin-top: 10rem;
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  background-color: #4c4c4c40;
}

#page4 #conainter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(85rem, 100vw);
}

#page4 #conainter img{
  margin: 1rem;
  width: 11.5%;
}












footer{
  min-height: 39.5rem;
  width: 100%;
  background-color: #026BA4;
  display: grid;
  place-items: center;
  position: relative;
}

#footer__heading{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: min(85rem, 100vw);
  margin: 2rem 12%;
  color: var(--clr-font);
}

#footer__heading__links{
  margin-top: .5rem;
  height: fit-content;
  display: flex;
  gap: 1.5rem;
}

#footer__heading__links a{
  height: clamp(2rem, 1vw, 3rem);
  width: fit-content;
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}

#footer__heading__links a img{
  background-color: white;
  border-radius: 50px;
  height: clamp(2rem, 1vw, 3rem);
  width: clamp(2rem, 1vw, 3rem);
  filter: grayscale(70%);
}

#footer__heading__links a:hover img{
  filter: grayscale(0);
}

#footer__container{
  position: absolute;
  left: 50%;
  top: 5rem;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
  background-color: rgba(48, 48, 48, 0.251);
  width: min(85rem, 100vw);
  display: flex;
  justify-content: space-around;
}

#footer__cinner{
  margin: 2rem;
  position: absolute;
  left: 0;
  display: flex;
  gap: 10%;
  width: 70%;
}

#footer__inner{
  min-width: 20%;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  /* gap: 1rem; */
}

#footer__inner h3{
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-left: -1.1rem;
  margin-bottom: 2rem;
  padding: 0.2em 0.4em;
  color: rgb(235, 235, 235);
}

#footer__inner a{
  margin-top: .5em;
  margin-left: 0;
  padding: 0;
  height: fit-content;
  color: rgb(0, 0, 0, .8);
  text-decoration: none;
  transition: .1s all ease-out;
  padding: .5em 1em;
}

#footer__inner a:hover{
  animation: hover_move .4s ease-out;
  color: rgb(209, 209, 209);
}



.footer_last-inner{
  position: absolute;
  right: 0;
  top: 1rem;
  bottom: 0;
  width: 30%;
  background-color: transparent;
}

#inner__send-mail__box{
  margin: 1rem auto;
  width: 80%;
  height: 20rem;
  background-color: #D9D9D9;
  border-radius: 1rem;
}

#inner__send-mail__box h4{
  font-weight: var(--fw-min);
  text-align: right;
  padding-top: 1rem;
  padding-right: 2rem;
  color: #026BA4;
}

#inner__send-mail__box__input{
  width: 100%;
  display: grid;
  place-items: center;
}

#inner__send-mail__box__input .input1{
  margin: 1rem auto;
  border-radius: 5px;
  background-color: white;
  border: none;
  width: 80%;
  padding: 5px 10px;
}

#inner__send-mail__box__input_2{
  width: 80%;
  height: 11rem;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

#inner__send-mail__box__input_2 input[type='text']{
  text-align: top left;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 8rem;
}

#inner__send-mail__box__input_2 input[type='submit']{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .2em .4em;
  background-color: #D9D9D9;
  border-radius: 5px 0 0 0;
  border: none;
  color: red;
  cursor: pointer;
}

#inner__send-mail__contact{
  display: grid;
  padding: 1rem;
  width: 80%;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-top: 5rem;
  height: 7rem;
  background-color: #ffff;
  border-radius: 10px 10px 0 10px;
}

#inner__send-mail__contact > h3{
  margin: 0;
  color: var(--clr-font);
}

.inner__send-mail__contact__info{
  display: flex;
  justify-content: space-around;
  width: 100%;
}