@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  /* font-sizes */
  --fs-huge: clamp(2rem, 2vw, 4rem);
  --fs-big: clamp(1.2rem, 1.5vw, 3rem);
  --fs-normal: clamp(1rem, 1.2vw, 1.5rem);
  --fs-min: clamp(1rem, 1vw, 1.3rem);
  --fs-extra-min: clamp(.75rem, .8vw, 1rem);

  /* font-weight */
  --fw-main: 700;
  --fw-normal: 500;
  --fw-min: 400;
  --fw-extra-min: 350;

  /* colors */
  --clr-background: #8ECAE6;
  --clr-font: #272727;
  --clr-black-low: #4c4c4c;
  --clr-white-low: #dfdfdf;
  --clr-primary-400: #219EBC;
  --clr-primary-500: #023047;
  --clr-primary-600: #FFB703;
  --clr-primary-700: #FB8500;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 12px -1px var(--clr-primary-400);
}


*,
*::before,
*::after{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
	width: 100vw;
  background-color: rgb(235, 235, 235);
  min-height: 200vh;
  overflow-x: hidden;
}

header{
  width: 100%;
  background-image: linear-gradient(to right bottom, #2f7dc7, #8ebeeb);
}

#header__main{
  width: min(80rem, 100vw);
  margin: 0 auto;
  padding: .5vw 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#header__main > p{
  margin: auto 0;
  transform: translateY(-10%);
  font-size: var(--fs-big);
  font-weight: var(--fw-min);
  color: #FFB703;
}

#header__main ul{
  list-style: none;
  display: flex;
  gap: 1.5vw;
  font-size: var(--fs-min);
  font-weight: var(--fw-min);
  margin: auto 0;
  text-decoration: none;
}
#header__main ul li a{
  text-decoration: none;
  color: var(--clr-font);
  transition: .3s all ease-out;
}

#header__main ul li a:hover{
  color: white;
}


#header__main .search-bar{
  display: flex;
  height: 2.25em;
  width: fit-content;
  margin: auto 0;
  transform: translateY(-10%);
  padding: 0.1em 0.2em;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
}

#header__main .search-bar button{
  width: max-content;
  border: none;
  padding: 0.1em 0.2em;
  background-color: rgba(128, 128, 128, 0.163);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

#header__main .search-bar .right_side{
  display: flex;
  background-color: white;
  border-radius: 0 15px 15px 0;
  /* box-shadow: inset 0 0 10px -5px black; */
}

#header__main .search-bar .right_side input{
  width: clamp(10rem, 20vw, 20rem);
  outline: none;
  border: none;
}

#header__main .search-bar .right_side button{
  margin: auto 0;
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
  margin-right: -.2em;
  padding: .2em .5em;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}


#header__second_line{
  width: 100%;
  height: 5rem;
  background-color: rgba(221, 204, 204, 0.344);
  display: grid;
  place-items: center;
  padding: 1.5rem 0;
}

#content{
  width: min(80rem, 100vw);
  display: flex;
}

#header__second_line .first_box{
  display: grid;
  place-items: center;
  width: 15%;
  margin-left: 1rem;
  padding: .3em;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1rem;
  box-shadow: inset 0 0 10px -5px rgb(0, 0, 0, 0.5);
}

#header__second_line .first_box button{
  background-color: transparent;
  padding: 0.125em .2em;
  border-radius: 10px;
  border: none;
  font-size: var(--fs-min);
  color: var(--clr-font);
}

#header__second_line .first_box ul{
  width: 100%;
  /* background-color: red; */
  display: none;
  list-style: none;
}

#header__second_line .first_box ul li{
  width: 100%;
  border-top: solid black 1px;
  text-align: center;
  padding: .5em 0;
}

#header__second_line .first_box ul li a{
  color: var(--clr-font);
  text-decoration: none;
}

#header__second_line .first_box ul li a:hover{
  color: var(--clr-primary-400);
}